---
import Layout from "../../layouts/Layout.astro";
import { getLaunchById, getLatestLaunches } from "../../services/spacex";
const { id } = Astro.params;

let launch;
if (id) {
  launch = await getLaunchById({ id });
}
export async function getStaticPaths() {
  const launches = await getLatestLaunches();
  return launches.map((launch) => ({
    params: { id: launch.id },
  }));
}
---

<Layout title=`Lanzamiento ${id}`>
  <article class="flex flex-col gap-y-5 items-center">
    <h2 class="text-4xl text-white font-semibold">
      Launch #{launch?.flight_number}
    </h2>
    <img
      class="w-52 h-auto"
      src={launch?.links?.patch.small}
      alt={launch?.name}
    />
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
